/* Sizes */
:root {
  /* Mode 1 */
  /* number */
  --button-padding-vertical: 0.5rem;
  --button-icon-gap: 1rem;
  --button-padding-horizontal: 1rem;
  --button-border-radius: 2rem;
  --column-base-gutter: 1.5rem;
  --column-base-width: 5rem;
  --column-multiple-2: 11.5rem;
  --column-multiple-3: 18rem;
  --column-multiple-4: 24.5rem;
  --column-multiple-5: 31rem;
  --column-multiple-6: 37.5rem;
  --column-multiple-8: 50.5rem;
  --column-multiple-10: 63.5rem;
  --column-multiple-12: 76.5rem;
}
/* Brand Colors */
:root {
  /* Mode 1 */
  /* color */
  --base-black: #000000;
  --base-transparent: #ffffff00;
  --base-white: #ffffff;
  --neutral-100: #f8fafb;
  --neutral-200: #e8eef2;
  --neutral-300: #c2cfd6;
  --neutral-400: #8f9ca3;
  --neutral-500: #657883;
  --neutral-600: #2f3437;
  --neutral-700: #191a1a;
  --primary-100: #ccecff;
  --primary-200: #66c7ff;
  --primary-300: #00a2ff;
  --primary-400: #0a7fc2;
  --primary-500: #085f91;
  --primary-600: #003757;
  --primary-700: #031f30;
  --secondary-100: #ffeccc;
  --secondary-200: #ffd080;
  --secondary-300: #ffbd4d;
  --secondary-400: #ffa102;
  --secondary-500: #da8d0b;
  --secondary-600: #694a16;
  --secondary-700: #261d0d;
  --success-100: #d6fccf;
  --success-200: #adfa9e;
  --success-300: #5cf53d;
  --success-400: #29c20a;
  --success-500: #2aa112;
  --success-600: #226c13;
  --success-700: #0f290a;
  --warning-100: #fccfcf;
  --warning-200: #ff999b;
  --warning-300: #ff4d4f;
  --warning-400: #f20d11;
  --warning-500: #b81417;
  --warning-600: #821719;
  --warning-700: #521415;
}
/* Semantic Colors */
:root {
  /* Mode 1 */
  /* color */
  --background-default: var(--neutral-100);
  --background-subtle: var(--neutral-200);
  --border-default: var(--neutral-300);
  --border-primary: var(--primary-500);
  --border-secondary: var(--secondary-500);
  --fill-primary: var(--primary-300);
  --fill-primary-hover: var(--primary-400);
  --fill-primary-onfill: var(--base-white);
  --fill-secondary: var(--secondary-400);
  --fill-secondary-hover: var(--secondary-500);
  --fill-secondary-onfill: var(--base-white);
  --surface-default: var(--base-white);
  --text-caption: var(--neutral-400);
  --text-default: var(--neutral-600);
  --text-overtitle: var(--primary-400);
  --text-primary: var(--primary-500);
  --text-secondary: var(--secondary-500);
  --text-subtitle: var(--neutral-400);
  --text-title: var(--primary-600);
}