@import "./variables.css";

@layer base {
  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/fonts/poppins-100.woff2) format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/fonts/poppins-200.woff2) format("woff2");
  }

  @font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/fonts/poppins-300.woff2) format("woff2");
  }
}

body {
  @apply bg-default text-default;
}
