/* Brand Colors */
:root {
  /* Mode 1 */
  /* color */
  --accent-100: rgb(255 236 204);
  --accent-200: rgb(255 208 128);
  --accent-300: rgb(255 189 77);
  --accent-400: rgb(255 161 2);
  --accent-500: rgb(218 141 11);
  --accent-600: rgb(105 74 22);
  --accent-700: rgb(38 29 13);
  --base-black: rgb(0 0 0);
  --base-transparent: rgb(255 255 255 / 0);
  --base-white: rgb(255 255 255);
  --main-100: rgb(204 236 255);
  --main-200: rgb(102 199 255);
  --main-300: rgb(0 162 255);
  --main-400: rgb(10 127 194);
  --main-500: rgb(8 95 145);
  --main-600: rgb(0 55 87);
  --main-700: rgb(3 31 48);
  --neutral-100: rgb(248 250 251);
  --neutral-200: rgb(232 238 242);
  --neutral-300: rgb(194 207 214);
  --neutral-400: rgb(143 156 163);
  --neutral-500: rgb(101 120 131);
  --neutral-600: rgb(47 52 55);
  --neutral-700: rgb(25 26 26);
  --success-100: rgb(214 252 207);
  --success-200: rgb(173 250 158);
  --success-300: rgb(92 245 61);
  --success-400: rgb(41 194 10);
  --success-500: rgb(42 161 18);
  --success-600: rgb(34 108 19);
  --success-700: rgb(15 41 10);
  --warning-100: rgb(252 207 207);
  --warning-200: rgb(255 153 155);
  --warning-300: rgb(255 77 79);
  --warning-400: rgb(242 13 17);
  --warning-500: rgb(184 20 23);
  --warning-600: rgb(130 23 25);
  --warning-700: rgb(82 20 21);
}
/* Semantic Colors */
:root {
  /* Mode 1 */
  /* color */
  --background-default: var(--neutral-100);
  --background-subtle: var(--neutral-200);
  --border-color-accent: var(--accent-500);
  --border-color-main: var(--main-500);
  --border-default: var(--neutral-300);
  --fill-accent: var(--accent-400);
  --fill-accent-hover: var(--accent-500);
  --fill-accent-onfill: var(--base-white);
  --fill-main: var(--main-300);
  --fill-main-hover: var(--main-400);
  --fill-main-onfill: var(--base-white);
  --fill-warning: var(--warning-400);
  --fill-warning-hover: var(--warning-500);
  --fill-warning-onfill: var(--base-white);
  --surface-default: var(--base-white);
  --text-caption: var(--neutral-400);
  --text-color-accent: var(--accent-500);
  --text-color-main: var(--main-500);
  --text-default: var(--neutral-600);
  --text-overtitle: var(--main-400);
  --text-subtitle: var(--neutral-400);
  --text-title: var(--main-600);
}

/* Dark mode overrides */
.dark {
  --background-default: var(--neutral-700);
  --background-subtle: var(--neutral-600);
  --border-default: var(--neutral-500);
  --surface-default: var(--neutral-600);
  --text-caption: var(--neutral-400);
  --text-default: var(--neutral-100);
  --text-title: var(--base-white);
  --text-subtitle: var(--neutral-200);
  --text-overtitle: var(--neutral-300);
}
