/* Sizes */
:root {
  /* Mode 1 */
  /* number */
  --button-border-radius: Infinityrem;
  --button-icon-gap: Infinityrem;
  --button-padding-horizontal: Infinityrem;
  --button-padding-vertical: Infinityrem;
  --column-base-gutter: Infinityrem;
  --column-base-width: Infinityrem;
  --column-multiple-10: Infinityrem;
  --column-multiple-12: Infinityrem;
  --column-multiple-2: Infinityrem;
  --column-multiple-3: Infinityrem;
  --column-multiple-4: Infinityrem;
  --column-multiple-5: Infinityrem;
  --column-multiple-6: Infinityrem;
  --column-multiple-8: Infinityrem;
}
/* Brand Colors */
:root {
  /* Mode 1 */
  /* color */
  --accent-100: #ffeccc;
  --accent-200: #ffd080;
  --accent-300: #ffbd4d;
  --accent-400: #ffa102;
  --accent-500: #da8d0b;
  --accent-600: #694a16;
  --accent-700: #261d0d;
  --base-black: #000000;
  --base-transparent: #ffffff00;
  --base-white: #ffffff;
  --main-100: #ccecff;
  --main-200: #66c7ff;
  --main-300: #00a2ff;
  --main-400: #0a7fc2;
  --main-500: #085f91;
  --main-600: #003757;
  --main-700: #031f30;
  --neutral-100: #f8fafb;
  --neutral-200: #e8eef2;
  --neutral-300: #c2cfd6;
  --neutral-400: #8f9ca3;
  --neutral-500: #657883;
  --neutral-600: #2f3437;
  --neutral-700: #191a1a;
  --success-100: #d6fccf;
  --success-200: #adfa9e;
  --success-300: #5cf53d;
  --success-400: #29c20a;
  --success-500: #2aa112;
  --success-600: #226c13;
  --success-700: #0f290a;
  --warning-100: #fccfcf;
  --warning-200: #ff999b;
  --warning-300: #ff4d4f;
  --warning-400: #f20d11;
  --warning-500: #b81417;
  --warning-600: #821719;
  --warning-700: #521415;
}
/* Semantic Colors */
:root {
  /* Mode 1 */
  /* color */
  --background-default: var(--neutral-100);
  --background-subtle: var(--neutral-200);
  --border-color-accent: var(--accent-500);
  --border-color-main: var(--main-500);
  --border-default: var(--neutral-300);
  --fill-accent: var(--accent-400);
  --fill-accent-hover: var(--accent-500);
  --fill-accent-onfill: var(--base-white);
  --fill-main: var(--main-300);
  --fill-main-hover: var(--main-400);
  --fill-main-onfill: var(--base-white);
  --fill-warning: var(--warning-400);
  --fill-warning-hover: var(--warning-500);
  --fill-warning-onfill: var(--base-white);
  --surface-default: var(--base-white);
  --text-caption: var(--neutral-400);
  --text-color-accent: var(--accent-500);
  --text-color-main: var(--main-500);
  --text-default: var(--neutral-600);
  --text-overtitle: var(--main-400);
  --text-subtitle: var(--neutral-400);
  --text-title: var(--main-600);
}